{% extends 'shared/base.html' %}
    {% block content %}
    <h1>New Variety</h1>
      <form action="{% url 'icecreamapp:variety' variety.id %}" method="post">
 
      {% csrf_token %}
      <fieldset>
          <label for="country_of_origin">Country of origin: </label>
          <input id="country_of_origin" type="text" name="country_of_origin" value="{{ variety.country_of_origin }}">
      </fieldset>

          <input type="hidden" name="actual_method" value="PUT">
          <input type="submit" value="Update" />

      </form>
{% endblock %}